/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERICS */

body {
    font-size: 0.7rem;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

/* COLORS */

:root {
    --grey: #282828;
    --lightgrey: #A3A3A3;
    --blue: #141922;
    --darkblue: #080B12; 
    --black: #000;
}

/* UTILS */

/* * LAYOUT */

.d-flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.flex-column {
    flex-direction: column;
}

.shrink-0 {
    flex-shrink: 0;
}

.scrollbar {
    overflow-y: scroll;
}

.pb-1 {
    padding-bottom: 1rem;
}

/* * STYLE */

.txt-grey{
    color: var(--lightgrey);
}

.circle {
    display: inline-block;
    height: 1rem;
    width: 1rem;
    border: 1px solid var(--lightgrey);
    border-radius: 50%;
    text-align: center;
    font-size: 0.5rem;
    line-height: 1rem;
}

/* UPPER CASE */

.upper-case {
    height: calc(100vh - 100px);
    background-color: var(--blue);
}

/* MAIN */

main {
    flex-grow: 1;
}

/* HEADER */

header {
    height: 70px;
    background-color: var(--black);
    /* opacity: 0.5; */
    align-items: center;
    flex-direction: row-reverse;
}

.upgrade {
    padding: 0.5rem 1.5rem;
    border: 1px solid #FFF;
    border-radius: 20px;
    width: fit-content;
    margin-right: 0.5rem;

}

.upgrade a {
    color: #FFF;
    font-size: 0.5rem;
}

/* SIDEBAR */

.sidebar {
    flex-basis: 230px;
    height: calc (100vh - 100px);
    background-color: var(--black);
    padding: 1rem;
}


#small-logo {
    display: none;
}

.sidebar nav {
    padding: 1.5rem 0;
}

.sidebar li {
    padding: 0.5rem 0;
}

.sidebar a {
    color: var(--lightgrey);
}

.box {
    height: 10rem;
}

.sidebar h3 {
    padding-bottom: 0.5rem;
}

.plus {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--lightgrey);
    color: black;
    text-align: center;
    line-height: 1.5rem;
    margin-right: 0.5rem;
}

.user {
    border-top: 1px solid var(--lightgrey);
    padding-top: 1rem;
}

.user img {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    background-color: var(--lightgrey);
    border-radius: 50%;
    object-fit: contain;

    margin-right: 0.5rem;
}

/* FOOTER */

footer {
    height: 100px;
    background-color: var(--grey);
}


/* MEDIA QUERIES */

@media screen and (max-width: 560px) {
    .sidebar {
        flex-basis: 2rem;
    }   
    
    #small-logo {
        display: block;
        width: 1.5rem;
    }

    #big-logo {
        display: none;
    }

    .sidebar span,
    .sidebar h3,
    .box {
        display: none;
    }

    .sidebar i {
        font-size: 1rem;
    }
    

}