/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLORS */

:root {
    --grey: #282828;
    --lightgrey: #A3A3A3;
    --blue: #141922;
    --darkblue: #080B12; 
    --black: #000;
}


/* MAIN */

main {
    height: 90vh;
    background-color: var(--blue);
    color: white;

    padding: 10vh 0 0 20vh;
}

.scrollbar {
    overflow-y: scroll;
}

/* HEADER */

header {
    height: 10vh;
    background-color: var(--darkblue);
    opacity: 0.5;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

/* SIDEBAR */

.sidebar {
    width: 20vh;
    background-color: var(--black);

    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
}

/* FOOTER */

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;

    height: 10vh;
    background-color: var(--grey);
}